@model IEnumerable<Mod3_Client.Models.Reader>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<h5>@ViewBag.Message</h5>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apelido)
            </th>
            <th>
                Status
            </th>
            <th>
                Admin Level
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.ActionLink("Edit", "Get", new { nif = item.NIF }) |
                    @if (item.IsAdmin != true) {
                  @Html.ActionLink("Delete", "Delete", new { nif = item.NIF })
                    }
            </td>
        </tr>
}
    </tbody>
</table>
